.post-form {
  margin-top: 2rem;
  width: 65%;
}

.list-wrapper {
  width: 65%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-list-paper {
  width: 100%;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}